body {
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  padding: 50px;
}

a {
  color: #f70776; /* Sets the link color to blue */
  text-decoration: underline; /* Adds underline to the link */
}
a:hover {
    background-color: #f70776; /* Selection highight color */
    color: #000000; /* Optional colour change of text that is being selected */
  }

img {
  width: 100%;
  height: 100%;
}
